:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  min-height: 200px;
}

&:focus-visible {
  outline: 2px solid gray;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
}

button {
  cursor: pointer;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: gray;
  border-radius: 2px;
}

button:focus-visible {
  outline: 2px solid gray;
}

button:hover {
  opacity: 0.6;
}
button:active {
  opacity: 0.4;
}

footer {
  color: gray;
  font-size: 14px;
  font-style: italic;
}
